################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/typings
/polymer/option/bower_components
/polymer/bower_components
/node_modules
